.header {
    background-color: var(--white);
    padding: 24px 0 77px;
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}



@media screen and (max-width: 768px) {
    .header {
        padding: 48px 0 32px;
    }
    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--grey-4);
  }
}


