/* Стилизация кнопки */

.button {
    color:white;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    line-height:normal;
    font-family: Inter;
    cursor: pointer;
}

.button_primary {
    background-color: #4263EB;
}

.button_primary:hover {
    background-color: #2342C0;
}

.button_primary:active {
    background-color: #8599e7;
}

.button__primary_disabled {
    background-color: #4263EB;
}

.button_secodary {
    background-color: #7048E8;
}

.button_secodary:hover {
    background-color: #5028C6;  
}

.button_secodary:active {
    background-color: #9579eb;  
}


.button__secodary_disabled {
    background-color: #7048E8;
}

.button_alternate {
    color: black;
    background-color: white;
}

.button_alternate:hover {
    background-color: grey;
}

.button_alternate:active {
    background-color: rgb(184, 184, 184);
}

.button__alternate_disabled {
    color: black;

}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}