.container {
    background-color: white;
    width: 354px;
    height: 185px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px 24px 24px 26px;
    box-sizing: border-box;
}

.histogram {

}

.histogram_header {
    display: flex;
    justify-content: space-between;
}