.container {
    background-color: white;
    width: 354px;
    height: 185px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px 24px 24px 26px;
    box-sizing: border-box;
}

.histogram {

}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__header_total-orders {
    font-family: Inter;
    width: 200px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
        
}

.histogram__header_view-all {
    font-family: Inter;
    width: 59px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4263EB;
}