.main {
    background-color: var(--grey-1);
    padding: 68px 0 ;
    overflow: hidden;
}

.main__cards {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    gap: 30px;

}

.main__card {
    font-size: 16px;
}

.main_template {
    padding: 36px 165px;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
}