<!DOCTYPE html>
<!-- Главная страница -->
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
    </head>
    <body>
        <div class="page page_template">
            <div class="header header_template"></div>
            <div class="main main_template">
                <div class="menu">
                    <div class="menu__title">Components</div>
                    <div class="menu__texts">
                        <div class="menu__text">Modal</div>
                        <div class="menu__text">Tooltip</div>
                        <div class="menu__text">Avatar</div>
                        <div class="menu__text">Calendar</div>
                        <div class="menu__text">Histogram</div>
                        <div class="menu__text">Custom form elements</div>
                        <div class="menu__text"></div>
                        <div class="menu__text">Main page</div>
                    </div>
                </div>
                <div class="component">
                    <div class="component__title">Title</div>
                </div>
            </div>
            <div class="footer footer_template">
                <div class="footer__title footer__title_template">Reusable component library</div>
            </div>
        </div>
    </body>
</html>
