.radio {
    display: inline-flex;
}

.radio__input {

}

.radio__state {

}

.radio__control {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid #DDE2E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__icon {

}

.radio__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}

.radio__input:checked ~ .radio__state 
.radio__control{

}