.container-flex {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox {
    display: inline-flex;
    position: relative;
}

/* .checkbox__input {
    position: absolute;
    left: -100vw;
    opacity: 0;
} */

.checkbox__control{
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid #DDE2E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__label {
    color: #495057;
    font-size: 16px;
    line-height: 24px;
}

.checkbox__label_disabled {
    color: #DDE2E5;
}

.checkbox__state {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

.checkbox__input:checked ~ .checkbox__state 
.checkbox__control{
    border-color: #4263EB;
    background-color: #4263EB;
}

.checkbox__input:focus ~ .checkbox__state 
.checkbox__label{
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control{
    border-color: #DDE2E5;
    background-color: #DDE2E5;
}