.calendar {
    position: absolute;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.calendar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 23px 83px 24px 88px;
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner {

}

