.container{
    width: 579px;
    height: 192px;
    border: 1px solid #ACB5BD;
    padding: 32px 40px 32px 24px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .circle {
    height: 70px;
    width: 70px;
    background-color: #DDE2E5;
    border-radius: 50%;
    margin: -8px 0 0 0;
  }

  .rectangle-block-1{
    align-self: center;
    margin: 0 0 0 16px;
  }
  
  .rectangle-block-2{
    align-self: flex-end;
    margin: 24px 0 0 0;
  }
  
  .rectangle {
    background-color: #DDE2E5;
    margin: 0 0 8px 0;
    height: 20px;
  }

  .rectangle_1 {
    width: 172px;
  }
  .rectangle_2 {
    width: 257px;
    height: 20px;
  }

  .rectangle_3 {
    width: 515px;
    height: 20px;
  }
