.container{
    height: 150px;
    width: 300px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .circle {
    height: 70px;
    width: 70px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  
  .rectangle-block-1{

  }
  
  .rectangle-block-2{
    align-self: flex-end;
  }
  
  .rectangle {
    height: 20px;
    width: 200px;
    background-color: grey;
    margin: 8px;
  }

  .rectangle_1 {

  }
  .rectangle_2 {

  }
  .rectangle_3 {

  }
  .rectangle_4 {

  }
  