.footer {
    background-color: var(--white);
    padding: 100px;
}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
}

.footer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}
